{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<style>
</style>
<section class="my-2 mx-5">
    <h1>événements</h1>
</section>


<section class="my-2 mx-5">
    <h2>Liste des événements :</h2>
    {% for event in events %}
        <div>{{ event.name }}</div>
        <a href="{{ path('event_groups', {'adminToken': adminToken, 'eventId': event.id, 'message' : ''}) }}">Voir l'événement'</a>

    {% endfor %}
</section>

<section class="my-2 mx-5">
    <h2>Création d'un événement</h2>
    {{ form(form)}}
</section>



{% endblock %}
