{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}

<section class="my-2 mx-5">
<h2>Liste des tickets :</h2>
{% for group in groups %}
    {% for ticket in group.tickets %}
        <div class="my-3">
        <div>{{ ticket.request }}</div>
        <div>{{ group.name }}</div>
        <div>{{ ticket.createAt|date('Y-m-d') }}</div>
        <div><a href="{{ path('edit_ticket', {'adminToken': adminToken, 'ticketId': ticket.id}) }}">éditer le ticket</a></div>
        </div>
    {% endfor %}
    
{% endfor %}
</section>

{% endblock %}
