{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<section class="my-2 mx-5">
    <h1>Liste des groupes de l'événement</h1>
    {% set hasTickets = false %}
    <div>{{ message }}</div>
    
    {% for group in groups %}
        {% if group.tickets.count() > 0 %}
            {% set hasTickets = true %}
        {% endif %}
    {% endfor %}

    {% if hasTickets %}
        <a href="{{ path('event_tickets', {'eventId': eventId, 'adminToken': adminToken}) }}">Voir les tickets</a>
    {% endif %}
    
</section>

<section class="my-2 mx-5">
    <h2>Groupes :</h2>
    
    {% for group in groups %}
        <div class="my-3">
            <div>{{ group.name }}</div>

            {% if group.lastArchivedAt != NULL %}
                <div>{{ group.lastArchivedAt|date('Y-m-d')  }}</div>
            {% else  %}
                <div>Never helped</div>
            {% endif %}

            <a href="{{ path('group_tickets', {'groupId': group.id, 'linkToken': linkToken}) }}">Voir les tickets du groupe</a>
            <button><a href="{{ path('event_group_remove', {'groupId': group.id, 'eventId': eventId, 'adminToken': adminToken}) }}">Delete</a> </button>
        </div>
    {% endfor %}
</section>

<section class="my-2 mx-5">
    {{ form(form)}}
</section>
{% endblock %}
