{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<section class="my-2 mx-5">
    <h1>{{group.name}}</h1>

    {% set nbGroupsBeforeUs = 0 %}
    {% for eventGroup in event.groups %}
        {% for ticket in eventGroup.tickets %}
            {% if ticket.status != NULL and ticket.status.isArchived == false and group.lastArchivedAt < ticket.createAt %}
                {% set nbGroupsBeforeUs = nbGroupsBeforeUs + 1 %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</section>

<section class="my-2 mx-5">
    <h2>Liste d'attente :</h2>
    <div>{{nbGroupsBeforeUs}}</div>
</section>

<section class="my-2 mx-5">
    <h2>Liste des tickets :</h2>
    {% for ticket in tickets %}
        <div class="my-3">
            <div>{{ ticket.request }}</div>
            {% if ticket.status != NULL %}
                <div>{{ ticket.status.name }}</div>
            {% else %}
                <div>Non traité</div>
            {% endif %}
            <button><a href="{{ path('group_ticket', {'groupId': group.id, 'linkToken': linkToken, 'ticketId': ticket.id}) }}">Voir le ticket</a> </button>
        </div>
    {% endfor %}
</section>

<section class="my-2 mx-5">
    <h2>Création d'un ticket</h2>
    {{ form(form)}}
</section>



{% endblock %}
